<% layout('../layout') -%>
<div class="show-party">

<table class="table table-hover">
    <thead>
        <tr class="info">
            <th><span class="label">Steam Username</span></th>
            <%for(var i = 0; i < data.games.length; i++) {%>
                <!--<th><%=data.games[i].name%></th>-->
                <th><img class="img-rounded" alt="<%=data.games[i].name%>" title="<%=data.games[i].name%>" src="<%=data.games[i].gameIcon%>" title=""></img></th>
            <%}%>
        </tr>
    </thead>
    <tbody>
        <%for(var i = 0; i < data.players.length; i++) {%>
        <tr>
            <td><span class="label label-inverse"><%=data.players[i].steamID%></span></td>
            <%for(var j = 0; j < data.games.length; j++) {
                if(data.players[i].games[data.games[j].appID]){%>
                <td><span class="badge badge-success">YES</span></td>
                <%}else{%>
                <td><span class="badge badge-important">NO</span></td>
                <%}%>
            <%}%>
        </tr>
        <%}%>
    </tbody>
</table>
</div>
